/*css初始化*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #a87b4f;
}
/*nav开始*/
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    /*background: red;*/
}
.nav-logo img {
    padding-left: 20px;
    width: 65px;
    height: 78px;
}
.nav-title {
    display: flex;
}
.nav-title-item {
    /*width: 70px;*/
    padding-right: 20px;
    height: 60px;
    color: #a87b4f;
    font-size: 20px;
    line-height: 60px;
}
/*nav结束*/
/*banner开始*/
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: 100%;*/
    height: 200px;
    background: #a87b4f;
}
.banner img {
    /*margin-top: 50px;*/
    width: 150px;
    height: 150px;
}
/*banner结束*/
/*content开始*/
.content {
    display: flex;
    align-items: flex-start;
    /*justify-content: space-between;*/
    padding: 10px 13px;
    border-bottom: dashed 1px #aaa;
}
.content-text-title {
    padding-right: 10px;
    font-size: 18px;
}
.content p {
    padding: 10px 10px 20px 0px;
    /*padding-bottom: 20px;*/
}
.content-img img {
    height: 100px;
    width: 100px;
}