/*css初始化*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #a87b4f;
}
/*nav开始*/
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    /*background: red;*/
}
.nav-logo img {
    width: 65px;
    height: 78px;
}
.nav-title {
    display: flex;
}
.nav-title-item {
    width: 70px;
    height: 60px;
    color: #a87b4f;
    font-size: 20px;
    line-height: 60px;
}
/*nav结束*/
/*banner开始*/
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background: #a87b4f;
}
.banner img {
    /*margin-top: 50px;*/
    width: 150px;
    height: 150px;
}
/*banner结束*/
/*content开始*/
.content {
    width: 100%;
}
.main-content {
    width: 100%;
    height: 150px;
    /*background: orange;*/
    background: url("images/01.jpg") no-repeat right;
    background-size: 100px 100px;
    border-bottom: dashed 1px #aaa;
}
.left-content {
    width: 75%;
}
.left-content h2{
    margin-top: 10px;
}
.left-content p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
}